/* Geral */
* {
    margin: 0;
    padding: 0;
    font-family: Helvatica;
}

ul {
    list-style: none;
}

a {
    font-style: none;
    color: #F5F3C1;
    text-decoration: none;
}

body {
    background-color: #ABC4AA;
}

/* Nav bar */
#nav-bar {
    width: 100%;
    background-color: #A9907E;
    border-bottom: 1px solid #675D50;
}

#nav-bar-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    max-width: 1200px;
    padding: 0 auto;
}

h2 {
    color: #F3DEBA;
}

#nav-bar-links {
    display: flex;
    gap: 1rem;
}